@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>長榮大學</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>歡迎來到長榮大學</h2>
        <p>
            這個「長榮大學」的應用程式範例是利用 Entity Framework6 所建置的 MVC 架構網站
        </p>
        <p><a class="btn btn-default" href="http://www.cjcu.edu.tw/">長榮大學首頁 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>如何建置本網站</h2>
        <p>建置本網站,請依教學系列逐步建置</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>網站專案程式碼下載</h2>
        <p>請修讀 ASP.NET課程</p>
        <p><a class="btn btn-default" href="https://elearn.cjcu.edu.tw/mooc/index.php">修讀此課程 &raquo;</a></p>
    </div>
</div>